aside {
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
  color: var(--color-text-primary);
  width: calc(2rem + 32px);
  min-height: 100vh;
  padding: 1rem;
  transition: 0.2s ease-in-out;
  overflow: hidden;

  .flex {
    flex: 1 1 0;
  }
  .sidebar_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1rem solid var(--app-lightblue);

    img {
      width: 3rem;
    }
  }

  .toggle__wrapper {
    display: flex;
    justify-content: flex-end;
    transition: 0.2s ease-in-out;

    .toggle {
      background-color: transparent;
      border: 0;
      padding: 0;
      cursor: pointer;

      .icons {
        color: var(--app-white);
        transition: 0.2s ease-out;
      }

      &:hover {
        .icons {
          color: rgba(152, 235, 241, 0.672);
          svg {
            transform: translateX(0.25rem);
          }
        }
      }
    }
  }

  .menu {
    margin: 0 -1rem;
    display: flex;
    flex-direction: column;

    .button {
      display: flex;
      align-items: center;
      justify-content: start;
      text-decoration: none;
      transition: 0.2s ease-in-out;
      padding: 0.6rem 1.1rem;
      // margin-bottom: 0.5rem;

      .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: auto;
        color: var(--app-white);
        transition: 0.2s ease-in-out;
        padding-right: 1rem;
      }

      .text {
        font-size: 16px;
        display: none;
        color: var(--app-white);
        transition: 0.2s ease-in-out;
      }

      &:hover {
        // background-color: var(--app-lightblue);
        // .icons,
        // .text {
        //   color: var(--color-text-primary);
        // }
      }

      &.router-link-exact-active {
        border-right: 4px solid var(--app-lightblue);
        background-color: var(--app-semi);
        .icons,
        .text {
          // color: var(--background-primary);
        }
        &:hover {
<<<<<<< HEAD
          background-color: var(--app-lightblue);
          .icons,
          .text {
            color: rgba(7, 91, 69, 0.705);
          }

          .icons {
            animation: wobble 0.5s ease-in-out alternate infinite;
          }
=======
          // background-color: var(--app-lightblue);
          // .icons,
          // .text {
          //   color: rgba(7, 91, 69, 0.705);
          // }
>>>>>>> 49753d8609914bc49955d45938c879ae35167e6e
        }
      }
    }
  }

  &.is_extended {
    width: 12rem;
    .menu {
      .text {
        display: flex;
      }
    }
  }

  // ANIMATIONS
  @keyframes wobble {
    0% {
      transform: translateY(-0.3rem);
    }
    50% {
      transform: translateY(0.6rem);
    }
    100% {
      transform: translateY(initial);
    }
  }

  // MEDIA QUERIES

  @media (max-width: 767px) {
    flex-direction: row;
    min-height: auto;
    height: 56px;
    padding: 0.5rem;
    width: 100%;

    &.is_extended {
      width: 100vw;

      .menu {
        .text {
          display: none;
        }
      }
    }

    .toggle__wrapper {
      display: none;
    }

    .menu {
      justify-content: space-between;
      margin: 0;
      padding: 0;

      .button {
        flex-direction: column;
        padding: 0.25rem;
        text-align: center;
      }
    }
  }
}
