:root {
  --app-darkblue: #000022;
  --app-lightblue: #d6f5ff;
  --app-white: #ffffff;
  --app-black: black;
  --app-semi: #4e4eaa46;
}

/* semantic color variables for this project */
:root {
  --background-primary: var(--app-white);
  --background-secondary: var(--app-darkblue);
  --color-text-primary: var(--app-black);
  --color-text-secondary: var(--app-darkblue);
  --color-border: rgb(23, 26, 37);
  --color-border-hover: var(--app-darkblue);
  --color-heading: var(--app-white);
  --section-gap: 160px;
  --font-secondary: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  overflow: hidden;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--background-primary);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
